{% load static %}
{% include 'includes/header.html' %}
<body>
  <main>
{% include 'pages/sidebar.html' %}
    <div class="main-content">
{% include 'pages/navbar.html' %}

        <article class="blog" data-page="blog">
              <header>
                <h2 class="h2 article-title">Blog</h2>
              </header>
          <section class="blog-posts">

            <p>testing</p>

          </section>
          </article>
          </div>
</main>
{% include 'includes/footer.html' %}
</body>
